* {
  box-sizing: border-box;
  font-family: 'Public Sans',
    sans-serif;
}

.img-bg {
  background-image: url('./images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
}

.header-img {
  transform: translateY(-25%);
}

.btn {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transition: all 300ms ease-in-out;
}

.btn:hover {
  filter: contrast(150%);
}

#why-choose {
  background: hsl(220, 16%, 96%);
}

#latest-articles {
  background: hsl(0, 0%, 98%);
}

.footer {
  background: hsl(233, 26%, 24%);
}

.hover-text,
.icon-hover {
  transition: all 300ms ease-in-out;
}

.icon-hover {
  fill: #fff;
}

.hover-text:hover {
  color: hsl(136, 65%, 51%);
}

.icon-hover:hover {
  fill: hsl(136, 65%, 51%);
}